# macOS
.DS_Store
.AppleDouble
.LSOverride

# Vercel
.vercel

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env
.env.local
.env.*.local

# Next.js
app-src/.next/
app-src/out/
app-src/node_modules/
app-src/.eslintrc.json
